.alwp_title p{
    text-transform: lowercase;
}

.alwp_title p:first-letter {
    text-transform: uppercase;
}

.searcher{
	display:inline-block;
}

.searcherbox{
	border:1px solid #e5e5e5;
	background-color: #fff;
    border-radius: 0;
    box-sizing: border-box;
    color: #000;
    display: inline-block;
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    margin: 5px 0 0;
    outline: 0 none;
    padding: 16.5px 15px 16px 15px;
    resize: none;
	width:calc(100% - 400px);
}

.searcheropt{
	border:1px solid #e5e5e5;
	background-color: #fff;
    border-radius: 0;
    box-sizing: border-box;
    color: #000;
    display: inline-block;
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    margin: 5px 0 0;
    outline: 0 none;
    padding: 15px;
    resize: none;
	width:200px;
}

.memberbox{
	border:1px solid #e5e5e5;
	background-color: #fff;
    border-radius: 0;
    box-sizing: border-box;
    color: #000;
    display: inline-block;
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    margin: 5px 0 0;
    outline: 0 none;
    padding: 16.5px 15px 16px 15px;
    resize: none;
	width:calc(100% - 180px);
}

.bookcov{
	display:inline-table;
	width:23%;
	margin:30px 8px;
}

.bookcov .cover{
	width:100%;
	height:340px;
	display:block;
	border-bottom:2px solid #23a24d;
	background-size: cover;
}

.bigcover{
	width:30%;
	height:520px;
	display:block;
	border-bottom:2px solid #23a24d;
	background-size: cover;
	float:left;
	margin: 0 20px 20px 0;
}

.bc_title{
	font-weight:bold;
	display:block;
	text-align:center;
	font-family: "Roboto Slab",sans-serif;
	font-size:17px;
	margin:10px 0;
}
.bc_author{
	display:block;
	text-align:center;
}
.bookdesc{
	margin:7px 20px 7px 33%;
	text-align:justify;
}
.bookinfo{
	list-style:none;
	margin-top:20px;
	margin-bottom:20px;
	margin-left: 32%;
}
.bookinfo li{
	border-bottom:1px dashed #eee;
	padding: 7px 20px;
}
.bookinfo li:first-child{
	border-top:1px solid #eee;
}
.bookinfo li:last-child{
	border-bottom:1px solid #eee;
}
.bookinfo li span{
	float:right;
}
@media screen and (max-width: 1000px) {
    .searcherbox{
        display: block;
		width:100%;
    }
	.memberbox {
		width:calc(100% - 180px);
	}
	.searcheropt{
		width:calc(100% - 180px);
	}
	.bookcov{
		width:30%;
	}
}
@media screen and (max-width: 760px) {
	.searcheropt{
		width:calc(100% - 100px);
	}
	.memberbox {
		width:calc(100% - 100px);
	}
	.bookcov{
		width:47%;
	}
}
@media screen and (max-width: 600px) {
	.bookcov{
		width:100%;
	}
}